#### 1. Write a program to check and print the data types of the following variables:

In [153]:
a = 60
b = 5.500
c = 'Hello'
d = True
f = ("c", "Java", "Python", "C++")

print(f"The data type of a is {type(a)}\nThe data type of b is {type(b)}\nThe data type of c is {type(c)}\nThe data type of d is {type(d)}\nThe data type of f is {type(f)}")

The data type of a is <class 'int'>
The data type of b is <class 'float'>
The data type of c is <class 'str'>
The data type of d is <class 'bool'>
The data type of f is <class 'tuple'>

##### 2. Create three variables: name, age, and city. Assign your name, age, and city of residence to these variables, then print a sentence introducing yourself using these variables. Example: "Hi, my name is [name]. I am [age] years old and I live in [city]."

In [154]:
name = 'Gideon Ayomide Kayode'
age = 22 
city = 'Ibadan'

print(f"Hi, my name is {name}. I am {age}years old and I live in {city}, Oyo state.")

Hi, my name is Gideon Ayomide Kayode. I am 22years old and I live in Ibadan, Oyo state.

##### 3. Write a program that swaps the values of two variables, x and y. For example, if x = 5 and y = 10, the program should swap their values so that x = 10 and y = 5.

In [155]:
x = 5
y = 10 

print(f"given values\n x = {x} \n y = {y}")

x,y = y,x

print(f"after swap\n x = {x} \n y = {y}")

given values
 x = 5
 y = 10
after swap
 x = 10
 y = 5

#### 4. Convert the following values to the specified data types and print the results:

In [156]:
# 1. 
x = 3.14

print(f" The conversion of 3.14 to an integer is {int (x)}")

# 2. 
y = 10

print(f" The conversion of 10 into string is '{str(y)}'")

# 3.
z = "123"

print(f" The conversion of '123' to an integer is {int(z)}")

 The conversion of 3.14 to an integer is 3
 The conversion of 10 into string is '10'
 The conversion of '123' to an integer is 123

##### 5. Write a program to calculate the area of Circle. Take the radius as input from the user. Use arithmetic operators to compute the results and print them.

In [157]:
try: #Making instances of the user trying to input non-float characters
    radius = float(input("Enter the radius of the circle"))

    if radius < 0:
        print ("The radius of the circle cannot be negative")
    else: 
        area = 3.14159 * (radius ** 2)
        print(f" The area of the circle with the radius {radius} is {area: .2f}.") # Using .2f to make the area in 2 decimal places.
except ValueError: 
    print("You have entered an invalid radius. Please, try again")

 The area of the circle with the radius 7.7 is  186.26.

##### 6. Create a list of 5 of your favorite Tech skills. Add another skills to the list, remove the second skill, and print the updated list.

In [158]:
fav_tech_skills = ['Data Science','Data Analysis', 'Web development', 'Deep learning', 'IoT']

fav_tech_skills.append('Cloud computing')

del fav_tech_skills[1]

print(fav_tech_skills)

['Data Science', 'Web development', 'Deep learning', 'IoT', 'Cloud computing']

#### 7. Write a program that takes a list of numbers as input and calculates the sum of all even numbers in the list.

In [159]:
def sum_even_number(numbers):
    even_sum = sum(num for num in numbers if num % 2 == 0)
    return(even_sum)

list_num = [11,12,13,14,15,16,17,18,19,20]
sum_list_num = sum_even_number(list_num)

print(f"The sum of the even numbers in the sampled list is {sum_list_num}")

The sum of the even numbers in the sampled list is 80

In [160]:
name_of_countries = ('Japan', 'South_Korea', 'China', 'United_Kingdom', 'Finland')

name_of_countries['United_Kingdom'] = ['Nigeria']

print(name_of_countries)
# A tuple is immutable, i.e the contained variables can't be changed.

TypeError: 'tuple' object does not support item assignment

##### 9. Write a Python program that takes a tuple of numbers as input and prints the maximum and minimum values in the tuple

In [ ]:
num_in_tuple = (1,2,3,4,5,6,7,8,9,10)

print(f" The maximum value in the sampled tuple above is {max(num_in_tuple)}.")
print(f" The minimum value in the sampled tuple above is {min(num_in_tuple)}.")

 The maximum value in the sampled tuple above is 10.
 The minimum value in the sampled tuple above is 1.

##### 10. Print the dictionary and access the value for the Author.

In [ ]:
book_details = {
                'Title':'The Great Gatsby',
                'Author': 'F.Scott Fitzgerald',
                'Year_of_publication': 1925,
                'Price': '$500'
                } 


print(book_details)

print(f"The value for the Author in the dictionary is {book_details['Author']}.")

{'Title': 'The Great Gatsby', 'Author': 'F.Scott Fitzgerald', 'Year_of_publication': 1925, 'Price': '$500'}
The value for the Author in the dictionary is F.Scott Fitzgerald.

##### 11. Write a program to count the occurrences of each word in the sentence: "Python is fun and learning Python is easy." Store the word counts in a dictonary.

In [ ]:
sentence = "Python is fun and learning Python is easy" 

words = sentence.upper().split() #Uppercase command is used so that the sentence case can be the same before splitting to avoid case issues
words_count = {}

for word in words:
    if word in words_count:
        words_count[word] += 1 
    else:
        words_count[word] = 1 

print(words_count)

{'PYTHON': 2, 'IS': 2, 'FUN': 1, 'AND': 1, 'LEARNING': 1, 'EASY': 1}